.NextButton {
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  position:relative;
  padding: 0;
    
  border-left: 24px solid rgb(134, 218, 166);
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 0;

  cursor: pointer;
  transition: all .2s ease-out;
}

.NextButton:hover{
  border-left-color: rgb(113, 182, 139);
}

.NextButton:hover:after{
  background-color: rgb(113, 182, 139);
}

.NextButton:after{
  content: '';
  height: 26px;
  width: 8px;
  position: absolute;
  background-color: rgb(134, 218, 166);
  transform: translateY(-50%);
  left: 0px;

  cursor: pointer;
  transition: all .2s ease-out;
}

.Back {
  transform: scaleX(-1);
}

