.ErrorMessage {
  z-index: 200;
  width: 300px;
  max-width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%, -100vh);
  background-color: white;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, .15);
  opacity: 0;
  transition: all .3s ease-out;
}
.ErrorMessage button {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin: 15px auto 0;
  display: block;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: 1px solid rgb(202, 226, 202);
  transition: all .15s ease-out;
}
.ErrorMessage button:hover {
  background-color: rgb(202, 226, 202);
  color: white;
}

.ErrorMessage h1 {
  margin: 5px 0;
  color: rgb(248, 156, 145);
}

.Show {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.Backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .2);
}