.PlaylistItem {
  width: 100%;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  height: 60px;
  transition: background-color .2s;
}

.AlbumCover {
  height: 100%;
  float: left;
}

.AlbumCover > img {
  height: 100%;
}

.Info{
  height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.CurrentTrack {
  background-color: #f2f2f2;
}

.PlaylistItem:hover {
  background-color: #f2f2f2;
}

.Artist {
  font-size: 14px;
  color: #888;
}

.Duration {
  font-size: 16px;
}