.Controls {
  margin: 40px auto ;
  padding: 20px;
  max-width: 100%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
}

.Buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 120px;
}


.Progress {
  align-self: flex-start;
  margin-left: 32px;
  flex: 0 1 calc(100% - 220px); 
}

.Volume {
  margin-left: 15px;
  align-self: flex-end;
  flex: 0 1 100px;
}

@media screen and (max-width: 500px) {
  .Volume {
    display: none;
  }

  .Progress {
    flex: 0 1 calc(100% - 100px);
  }
}

 